<launch>
  <node pkg="fisheye_stereo_rectify"
    type="fisheye_stereo_rectify_node"
    name="fisheye_stereo_rectify_node"
    output="screen">
    <rosparam command="load" file="$(find fisheye_stereo_rectify)/config/camchain-imucam.yaml"/>
    <remap from="~cam0/image" to="left/image_raw"/>
    <remap from="~cam1/image" to="right/image_raw"/>
    <remap from="~cam0/image_rect" to="left/image_rect"/>
    <remap from="~cam1/image_rect" to="right/image_rect"/>
  </node>
</launch>
